@font-face {
  font-family: up;
  src: url(../../upheavtt.otf);
}
@font-face {
  font-family: sk;
  src: url(../../SKCuber-Expanded.ttf);
}
@font-face {
  font-family: Ultra;
  src: url(../../UltraHyper-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  background-color: #000;
  color: #000;
  font-family: "Arame";
  overflow: hidden;
}

p {
  text-transform: uppercase;
}
.x {
  font-size: 14px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

nav {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 0.25em;
  padding: 0.25em 0 0 0;
  background-color: #000;
}
nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.nav-1 {
  flex: 3;
}

.nav-2 {
  flex: 2;
}
.flagged{
  background-color: #b20811;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.nav-3 {
  flex: 3;
}

.content-wrapper {
  flex: 12;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 0 0.5em 0;
  background-color: #000;
  gap: 0.25em;
  overflow: hidden;
}

.content-wrapper .col {
  border-radius: 10px;
  background: #ffffff;
  padding: 3em 2em;
  position: relative;
}

.content-wrapper .col-1 {
  background-color: #d3dada;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  position: relative;
}

.col-2 {
  flex: 9;
  display: flex;
  flex-direction: column;
}
.col-1 p {
  font-size: 12px;
  line-height: 1;
}

.first-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #384243;
}
.first-table th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #d3dada;
  padding: 0.5em 0.2em;
  border-bottom: 2px solid #384243;
  text-align: left;
}
.first-table td {
  padding: 0.5em 0.5em;
  text-align: left;
  vertical-align: top; /* Ensures text starts from the top of the cell */
  word-wrap: break-word; /* Breaks long words onto the next line */
  white-space: normal; /* Allows the text to wrap */
}

tr:hover {
  background-color: #f8f9fa;
}

.danger {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.approve {
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.view {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.danger:hover {
  color: red;
}
.approve:hover {
  color: green;
}
.view:hover {
  color: blue;
}

.col-2 h1 {
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 46px;
  margin-bottom: 12px;
  margin-top: -24px;
}

.table-wrapper-2 {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

}

.second-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.second-table th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 0.5em 0.2em;
  border-bottom: 2px solid #000;
  text-align: left;
  vertical-align: top; /* Ensures text starts from the top of the cell */
  word-wrap: break-word; /* Breaks long words onto the next line */
  white-space: normal;
  font-size: 14px;
}

.second-table td {
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #000;
  text-align: left;
  vertical-align: top; /* Ensures text starts from the top of the cell */
  word-wrap: break-word; /* Breaks long words onto the next line */
  white-space: normal; /* Allows the text to wrap */
  font-size: 14px;
}

.pfp-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* margin-top: -20px; */
  padding: 0.5em 0.5em;
  transition: opacity 0.3s ease;
}

.pfp {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  border-radius: 20px;
}

.name {
  color: rgb(56, 66, 67);
  font-weight: bold;
  font-size: 56px;
  transition: all 0.3s ease;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -2.4px;

}
.arrow {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -30px;
  right: -36px;
  /* width: 240px; */
  width: 80%;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}
.more-info {
  position: absolute;
  top: 340px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  opacity: 0;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}
.more-info .info {
  font-size: 22px;
  margin: 20px 0px;
  color: #384243;
}

.table-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.col-1:hover .more-info,
.col-1:hover .arrow {
  visibility: visible;
  opacity: 1;
}

.col-1:hover .pfp-wrapper,
.col-1:hover .table-wrapper,
.col-1:hover .name {
  opacity: 0;
}

.m-xl {
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: inherit; /* Inherits the color from its parent */
}

a:visited {
  color: inherit; /* Ensures visited links have the same color */
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

a:focus {
  outline: none; /* Remove the default outline on focus */
}

button {
  background-color: transparent;
  border: none;
  font: inherit;
}

.cyp-wrapper {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cyp-btn {
  color: #384243;
  font-size: 72px;
  transition: all 0.3s ease;
  font-family: Ultra;
  font-style: normal;
  margin-top: -80px;
}
.cyp-btn:hover {
  color: #092124;
}

.icon {
  opacity: 0;
  transform: translateX(-4px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: 5px; 
  margin-top: 15px;
}

.btn-sec:hover .icon {
  opacity: 1;
  transform: translateX(0); /* Move the icon to its normal position */
}
