{% extends "base.html" %} {% block body_class %}influencer{% endblock %} {%
block content %}

  <div class="navbar">
    <a class="mb-8 heading1 link" href="{{ url_for('views.logout') }}">LOGOUT</a>
    <div></div>
    <div></div>
    <div></div>
    <a href="{{ url_for('influencer.viewInfluencers') }}">
      <h1 class="text-center mb-8 heading1 link">Influencers</h1>
    </a>
    <a class="heading1 link" href="{{ url_for('influencer.activeCampaigns') }}">aCTIVE Campaigns</a>
    <a class="heading1 link" href="{{ url_for('influencer.viewCampaigns') }}"
      >Find campaigns</a>
  </div>


<h1 class="cc text-center">Create ad Request for {{ campaign.name }}</h1>

<form
  action="{{ url_for('influencer.create_ad_request', campaign_id=campaign.id) }}"
  method="post"
  class="influForm1">
  
  <label for="requirements" class="heading4">Task:</label>
  <textarea
    id="requirements"
    name="requirements"
    class="w-full mb-4 rounded-lg p-2 pe-12"
  ></textarea>
  <br>

  <label for="messages" class="heading4">Message:</label>
  <textarea
    id="messages"
    name="messages"
    class="w-full mb-4 rounded-lg p-2 pe-12"
  ></textarea>
  <br>

  <label for="payment_amount" class="heading4">Request Amount:</label>
  <input
    type="number"
    id="payment_amount"
    name="payment_amount"
    class="block w-full mt-1 border rounded"
    step="1"
  />
  <br>
  <button type="submit" class="btn btn-primary md1">Create ad Request</button>
</form>
{% endblock %}
