{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='src/influencer_css/influencer_dashboard.css') }}"
/>
{% endblock %} {% block content %}

<div class="container">
  {% if not current_user.influencers %}
  <div class="text-center cyp-wrapper">
    <a href="{{ url_for('influencer.addInfluencer') }}" class="cyp-btn btn-sec">
      <span class="text">COMPLETE YOUR PROFILE</span>
      <span class="icon">
        <svg
          width="90"
          height="90"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          transform="rotate(45)"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M6 18L18 6M18 6H9M18 6V15"
              stroke="#384243"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </svg>
      </span>
    </a>
    <svg
      width="60"
      height="60"
      viewBox="0 0 60 60"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g style="mix-blend-mode: multiply">
        <path d="M0 0H11.25V3.75H7.5V7.5H3.75V11.25H0V0Z" fill="white" />
        <path
          d="M11.25 0H22.5V3.75H26.25V7.5H33.75V3.75H37.5V0H48.75V3.75H52.5V7.5H56.25V11.25H60V22.5H56.25V30H52.5V37.5H48.75V41.25H45V45H41.25V48.75H37.5V52.5H33.75V56.25H30V52.5H26.25V48.75H22.5V45H18.75V41.25H15V37.5H11.25V33.75H7.5V30H3.75V22.5H0V11.25H3.75V7.5H7.5V3.75H11.25V0Z"
          fill="#384243"
        />
        <path d="M22.5 0H37.5V3.75H33.75V7.5H26.25V3.75H22.5V0Z" fill="white" />
        <path d="M48.75 0H60V11.25H56.25V7.5H52.5V3.75H48.75V0Z" fill="white" />
        <path
          d="M0 22.5H3.75V30H7.5V33.75H11.25V37.5H15V41.25H18.75V45H22.5V48.75H26.25V52.5H30V56.25H33.75V52.5H37.5V48.75H41.25V45H45V41.25H48.75V37.5H52.5V30H56.25V22.5H60V37.5H56.25V45H52.5V48.75H45V52.5H52.5V48.75H56.25V45H60V52.5H56.25V56.25H48.75V60H15V56.25H7.5V52.5H3.75V48.75H0V22.5Z"
          fill="white"
        />
        <path d="M3.75 37.5H7.5V45H3.75V37.5Z" fill="#384243" />
        <path d="M56.25 37.5H60V45H56.25V37.5Z" fill="#384243" />
        <path d="M7.5 45H11.25V48.75H7.5V45Z" fill="#384243" />
        <path d="M52.5 45H56.25V48.75H52.5V45Z" fill="#384243" />
        <path d="M0 48.75H3.75V52.5H0V48.75Z" fill="#384243" />
        <path d="M11.25 48.75H18.75V52.5H11.25V48.75Z" fill="#384243" />
        <path d="M45 48.75H52.5V52.5H45V48.75Z" fill="#384243" />
        <path d="M0 52.5H3.75V56.25H7.5V60H0V52.5Z" fill="white" />
        <path d="M3.75 52.5H7.5V56.25H3.75V52.5Z" fill="#384243" />
        <path d="M56.25 52.5H60V56.25H56.25V52.5Z" fill="#384243" />
        <path d="M7.5 56.25H15V60H7.5V56.25Z" fill="#384243" />
        <path d="M48.75 56.25H56.25V60H48.75V56.25Z" fill="#384243" />
        <path d="M56.25 56.25H60V60H56.25V56.25Z" fill="white" />
      </g>
    </svg>
  </div>

  {% endif %} {% if influencer %}
  <nav>
    <div class="nav-1">
      <p class="logo view">
        AD <br />
        FL
      </p>
      <a href="{{ url_for('views.logout') }}" class="view">logout</a>
    </div>
    {% if influencer.flagged == True %}
    <div class="nav-2 flagged">
      <p class="text-center">You have been flagged by admin</p>
    </div>
    {% else%}
    <div class="nav-2">
      <p class="menu-button">the</p>
      <p class="x">x</p>
      <p class="menu-button">dashboard</p>
    </div>
    {% endif %}

    <div class="nav-3">
      <a href="{{ url_for('influencer.viewCampaigns') }}" class="create view">
        Find <br />
        campaigns
      </a>
      <a
        href="{{ url_for('influencer.activeCampaigns') }}"
        class="pattern-2 view"
      >
        active <br />
        campaigns
      </a>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="col-1 col">
      <div class="pfp-wrapper">
        <img
          src="{{ url_for('static', filename='uploads/' + influencer.profile_picture) }}"
          alt="{{ influencer.name }}'s profile picture"
          class="pfp"
        />
      </div>
      <div class="name">{{ influencer.name }}</div>
      <div class="table-wrapper">
        <table class="first-table">
          <thead>
            <tr>
              <th>Niche</th>
              <th>Reach</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ influencer.niche }}</td>
              <td>{{ influencer.reach }}</td>
              <td>{{average_rating}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a
        href="{{ url_for('influencer.editInfluencer', influencer_id=influencer.id) }}"
      >
        <img
          class="arrow"
          src="../../static/arrow_outward_48dp_FILL0_wght700_GRAD200_opsz48.png"
          alt=""
        />
      </a>

      <div class="more-info">
        <p class="info">Email: {{ influencer.email }}</p>
        <p class="info">Platform: {{ influencer.platform }}</p>
        <p class="info">Reach: {{ influencer.reach }}</p>
        <p class="info">Earnings: {{ influencer.bank_account_balance}}</p>
      </div>
    </div>
    <div class="col-2 col">
      <h1>Pending Requests</h1>
      <div class="table-wrapper-2 m-xl">
        <table class="second-table">
          <thead>
            <tr>
              <th>Campaign</th>
              <th>Sponsor</th>
              <th>Payment Amount</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for ad_request_details in ad_requests %} {% if
            ad_request_details.ad_request.status == "Pending" %}

            <tr>
              <td>{{ ad_request_details.campaign_name }}</td>
              <td>{{ ad_request_details.user_name }}</td>
              <td>{{ ad_request_details.ad_request.payment_amount }}</td>
              <td>
                <a
                  class="link view"
                  href="{{ url_for('influencer.viewRequest', ad_request_id=ad_request_details.ad_request.id) }}"
                  >View</a
                >
              </td>
              <td>
                <form
                  action="{{ url_for('influencer.accept_ad_request', ad_request_id=ad_request_details.ad_request.id) }}"
                  method="post"
                >
                  <button class="link approve" type="submit">Approve</button>
                </form>
              </td>
              <td>
                <form
                  action="{{ url_for('influencer.reject_ad_request', ad_request_id=ad_request_details.ad_request.id) }}"
                  method="post"
                >
                  <button class="link danger" type="submit">Reject</button>
                </form>
              </td>
              {% endif %} {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>

      <h1>Sent Requests</h1>
      <div class="table-wrapper-2">
        <table class="second-table">
          <thead>
            <tr>
              <th>Campaign</th>
              <th>Requirements</th>
              <th>Message</th>
              <th>Requested Amount</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for campaignRequest in campaign_requests %} {% if
            campaignRequest.campaign_request.status == "Pending" %}

            <tr>
              <td>{{campaignRequest.campaign_name}}</td>
              <td>{{ campaignRequest.campaign_request.requirements }}</td>
              <td>{{ campaignRequest.campaign_request.messages }}</td>
              <td>{{ campaignRequest.campaign_request.payment_amount }}</td>
              <td>
                <a
                  href="{{ url_for('influencer.edit_campaign_request', campaign_request_id=campaignRequest.campaign_request.id)}}"
                  class="link view"
                  >Edit</a
                >
              </td>
              <td>
                <form
                  action="{{ url_for('influencer.delete_campaign_request', campaign_request_id=campaignRequest.campaign_request.id) }}"
                  method="POST"
                  onsubmit="return confirm('Are you sure you want to delete the request?');"
                >
                  <button class="link danger" type="submit">Delete</button>
                </form>
              </td>
              {% endif %} {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
