{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='src/sponsor_css/create_ad_request.css') }}"
/>
{% endblock %} {% block content %}

<div class="container">
  <nav>
    <div class="nav-1">
      <a href="{{ url_for('influencer.dashboard') }}" class="logo view">
        AD <br />
        FL
      </a>
      <a href="{{ url_for('views.logout') }}" class="view">logout</a>
    </div>
    <div class="nav-2">
      <p class="menu-button">the</p>
      <p class="x">v</p>
      <p class="menu-button">dashboard</p>
    </div>
    <div class="nav-3">
      <a href="{{ url_for('influencer.viewCampaigns') }}" class="view"
        >Find Campaigns</a
      >
      <form
        action="{{ url_for('influencer.deleteInfluencer', influencer_id=influencer.id) }}"
        method="POST"
        onsubmit="return confirm('Are you sure you want to delete your profile?');"
      >
        <button class="view link" type="submit">Delete Profile</button>
      </form>
    </div>
  </nav>
  <div class="form-wrapper">
    <form method="POST" enctype="multipart/form-data">
      <div class="content-wrapper">
        <div class="col col-1">
          <div class="header-ad header">
            <h1>Edit Details</h1>
          </div>
          <div class="numbers">
            <p>xoxo</p>
            <div class="hr"></div>
            <p>xoxo</p>
          </div>
          <div class="form-fields">
            <div>
              <label class="cc-label" for="name">Name:</label>

              <div class="form-field">
                <input
                  type="text"
                  id="name"
                  class="cc-input"
                  name="name"
                  value="{{ influencer.name }}"
                  required
                />
              </div>
            </div>

            <div>
              <label class="cc-label" for="platform">Platform:</label>
              <div class="form-field">
                <select class="cc-input" name="platform" id="platform">
                  <option value="{{influencer.platform}}">
                    {{influencer.platform}}
                  </option>
                  <option value="Facebook">Facebook</option>
                  <option value="Instagram">Instagram</option>
                  <option value="Twitter">Twitter</option>
                  <option value="LinkedIn">LinkedIn</option>
                  <option value="Youtube">Youtube</option>
                  <option value="Snapchat">Snapchat</option>
                  <option value="TikTok">TikTok</option>
                  <option value="Twitch">Twitch</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>

            <div>
              <label class="cc-label" for="email">Email:</label>

              <div class="form-field">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="cc-input"
                  value="{{ influencer.email }}"
                  required
                />
              </div>
            </div>

            <div>
              <label class="cc-label" for="profile_picture"
                >Profile Picture:</label
              >

              <div class="form-field">
                <input
                  class="cc-input"
                  value="{{ influencer.profile_picture }}"
                  type="file"
                  id="profile_picture"
                  name="profile_picture"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col col-2">
          <div>
            <label class="cc-label" for="niche">Niche:</label>
            <div class="form-field">
              <select class="cc-input" id="niche" name="niche">
                <option value="{{influencer.niche}}">{{influencer.niche}}</option>
                <option value="Tech">Tech</option>
                <option value="Fashion and Beauty">Fashion and Beauty</option>
                <option value="Fitness and Wellness">
                  Fitness and Wellness
                </option>
                <option value="Travel">Travel</option>
                <option value="Food ">Food</option>
                <option value="Lifestyle">Lifestyle</option>
                <option value="Gaming">Gaming</option>
                <option value="Finance and Investing">
                  Finance and Investing
                </option>
                <option value="Entertainment and Pop Culture">
                  Entertainment and Pop Culture
                </option>
              </select>
            </div>
          </div>

          <div>
            <label class="cc-label" for="reach">Reach:</label>

            <div class="form-field">
              <input
                class="cc-input"
                type="number"
                id="reach"
                name="reach"
                value="{{ influencer.reach }}"
                required
              />
            </div>
          </div>

          <div>
            <label class="button-wrapper" for="submit-button">
              <button type="submit" id="submit-button" class="submit-btn">
                Save Changes
              </button>
              <ion-icon name="arrow-forward-sharp"></ion-icon>
            </label>
          </div>
          <div class="circle">
            <div class="arrow arrow1">
              <svg
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 40 31"
              >
                <path
                  d="M32.7188 30.2092L25.6611 30.1823L29.01 13.9866L12.2259 29.4822C11.7383 29.9323 11.099 30.1823 10.4353 30.1823H0.350586L24.5691 7.7427L9.97643 7.72816L12.817 1.29864C13.0989 0.660689 13.7309 0.24938 14.4283 0.250001L34.8251 0.268164C37.6565 0.269449 39.7495 2.90594 39.1084 5.66374L34.4507 28.7968C34.2848 29.6208 33.5593 30.2124 32.7188 30.2092Z"
                  fill="#000"
                ></path>
              </svg>
            </div>
            <div class="arrow2">
              <svg
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 40 31"
              >
                <path
                  d="M32.7188 30.2092L25.6611 30.1823L29.01 13.9866L12.2259 29.4822C11.7383 29.9323 11.099 30.1823 10.4353 30.1823H0.350586L24.5691 7.7427L9.97643 7.72816L12.817 1.29864C13.0989 0.660689 13.7309 0.24938 14.4283 0.250001L34.8251 0.268164C37.6565 0.269449 39.7495 2.90594 39.1084 5.66374L34.4507 28.7968C34.2848 29.6208 33.5593 30.2124 32.7188 30.2092Z"
                  fill="#000"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
