{% extends "base.html" %}{% block body_class %} influencer {% endblock %} {%
block title %}Home{% endblock %} {% block content %}

<div class="navbar">
  <a class="mb-8 heading1 link" href="{{ url_for('influencer.dashboard') }}"
    >Back</a
  >
  <div></div>
  <div></div>
  <div></div>
  <a href="{{ url_for('influencer.viewInfluencers') }}">
    <h1 class="text-center mb-8 heading1 link">Influencers</h1>
  </a>
  <a class="heading1 link" href="{{ url_for('influencer.activeCampaigns') }}"
    >aCTIVE Campaigns</a
  >
  <a class="heading1 link" href="{{ url_for('influencer.viewCampaigns') }}"
    >Find campaigns</a
  >
</div>

<table class="prim-table">
  <caption class="heading2">
    Active Campaigns
  </caption>
  <thead>
    <tr>
      <th class="prim-row">Campaign</th>
      <th class="prim-row">Sponsor</th>
      <th class="prim-row">Payment Amount</th>
      <th class="prim-row">Requirements</th>
      <th class="prim-row">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for ad_request_details in ad_requests %} {% if
    ad_request_details.ad_request.status == "Accepted" %}

    <tr class="prim-row">
      <td>{{ ad_request_details.campaign_name }}</td>
      <td>{{ ad_request_details.user_name }}</td>
      <td>{{ ad_request_details.ad_request.payment_amount }}</td>
      <td>{{ ad_request_details.ad_request.requirements }}</td>
      <td>{{ ad_request_details.ad_request.messages }}</td>
      <td>
        <a
          class="link"
          href="{{ url_for('influencer.viewRequest', ad_request_id=ad_request_details.ad_request.id)}}"
          >View</a
        >
      </td>
      {% endif %} {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock %}
