{% extends "base.html" %} {% block body_class %} influencer {% endblock %} {%
block content %}

<div class="navbar">
  <a class="mb-8 heading1 link" href="{{ url_for('influencer.viewCampaigns') }}"
    >Back</a
  >
  <div></div>
  <div></div>
  <div></div>
  <a href="{{ url_for('influencer.viewInfluencers') }}">
    <h1 class="text-center mb-8 heading1 link">Influencers</h1>
  </a>
  <a class="heading1 link" href="{{ url_for('influencer.activeCampaigns') }}"
    >aCTIVE Campaigns</a
  >
  <a class="heading1 link" href="{{ url_for('influencer.viewCampaigns') }}"
    >Find campaigns</a
  >
</div>

<form
  method="POST"
  action="{{ url_for('influencer.bookmark_campaign', campaign_id=campaign.id)}}"
>
  <button class="btn-big btn-primary" type="submit">Bookmark It</button>
</form>
<div class="campaignContainer">
  <table class="prim-table prim-table-home">
    <caption class="heading2">
      Campaign
    </caption>

    <tr>
      <th class="prim-row">Campaign Detail</th>
      <th class="prim-row">Information</th>
    </tr>
    <tr class="prim-row">
      <td>Name</td>
      <td>{{ campaign.name }}</td>
    </tr>
    <tr class="prim-row">
      <td>Description</td>
      <td>{{ campaign.description }}</td>
    </tr>
    <tr class="prim-row">
      <td>Start Date</td>
      <td>{{ campaign.start_date.strftime('%Y-%m-%d') }}</td>
    </tr>
    <tr class="prim-row">
      <td>End Date</td>
      <td>{{ campaign.end_date.strftime('%Y-%m-%d') }}</td>
    </tr>
    <tr class="prim-row">
      <td>Budget</td>
      <td>{{ campaign.budget }}</td>
    </tr>
    <tr class="prim-row">
      <td>Visibility</td>
      <td>{{ campaign.visibility }}</td>
    </tr>
    <tr class="prim-row">
      <td>Goals</td>
      <td>{{ campaign.goals }}</td>
    </tr>
  </table>
</div>

{% endblock %}
