{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='src/sponsor_css/view_campaigns.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <nav>
    <div class="nav-1">
      <a href="{{ url_for('sponsor.dashboard') }}" class="logo view">
        AD <br />
        FL
      </a>
      <a href="{{ url_for('views.logout') }}" class="view">logout</a>
    </div>
    <div class="nav-2">
      <p class="menu-button view">the</p>
      <p class="x">v</p>
      <p class="menu-button view">dashboard</p>
    </div>
    <div class="nav-3">
      <a href="{{ url_for('sponsor.createCampaign') }}" class="view">create+</a>

      <a
        href="{{ url_for('sponsor.payment_history',user_id=current_user.id) }}"
        class="view"
      >
    
        history
      </a>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="header">
      <h1>Completed ad requests</h1>
    </div>
    <div class="table-wrapper">
      <table class="first-table">
        <thead>
          <tr>
            <th>Request Type</th>
            <th>Influencer</th>
            <th>Requirements</th>
            <th>Payment Amount</th>
            <th>Completion Status</th>
            <th class="link"></th>
            <th class="link"></th>
            <th class="link"></th>
          </tr>
        </thead>
        <tbody>
          {% for request in ad_requests + campaign_requests %} {% if
          request.request.completion_confirmed==True %}
          <tr>
            <td>{{ request.request_type }}</td>
            <td>{{ request.influencer_name }}</td>
            <td>{{ request.request.requirements }}</td>
            <td>{{ request.request.payment_amount }}</td>
            <td>{{ request.request.completed }}</td>
            <td class="link">
              {% if request.request.payment_done==True %}
              <span class="status-accepted">Payment done </span>{% else %}
              <a
                class="view"
                href="{{url_for('sponsor.make_payment', ad_request_id=request.request.id, request_type=request.request_type)}}"
                >Pay</a
              >
              {%endif%}
            </td>
            {% if request.request.payment_done==True %} {% if
            request.request.rating_done == True %}
            <td>Rated</td>
            {% else %}
            <td>
              <a
                href="{{url_for('sponsor.rate_influencer', ad_request_id=request.request.id, request_type=request.request_type)}}"
                class="view"
                >Give Rating</a
              >
            </td>
            {% endif %} {% if request.request.rating_done == True %}
            <td class="link danger">
              <form
                action="{{ url_for('sponsor.delete_ad_request', ad_request_id=request.request.id) }}"
                method="post"
              >
                <button
                  type="submit"
                  class="danger"
                  onclick="return confirm('Are you sure you want to delete this ad request?');"
                >
                  Delete
                </button>
              </form>
            </td>
            {%endif%} {% endif %} {% endif %} {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
