{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='src/sponsor_css/view_campaigns.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <nav>
    <div class="nav-1">
      <a href="{{ url_for('sponsor.dashboard') }}" class="logo view">
        AD <br />
        FL
      </a>
      <a href="{{ url_for('views.logout') }}" class="view">logout</a>
    </div>
    <div class="nav-2">
      <p class="menu-button view">the</p>
      <p class="x">v</p>
      <p class="menu-button view">dashboard</p>
    </div>
    <div class="nav-3">
      <a href="{{ url_for('sponsor.createCampaign') }}" class="view">create+</a>
      <a href="{{url_for('sponsor.export_csv')}}">Export CSV</a>
      <a
        href="{{ url_for('sponsor.payment_history',user_id=current_user.id) }}"
        class="view"
      >
        view <br />
        history
      </a>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="header-wrapper">
      <div class="header-1">
        <h1 class="text-center">Active campaigns</h1>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="first-table">
        <thead>
          <tr>
            <th>Campaign Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Budget</th>
            <th>Campaign description</th>
            <th>Goals</th>
            <th class="link"></th>
            <th class="link"></th>
          </tr>
        </thead>
        <tbody>
          {% for campaign in campaigns %}
          <tr>
            <td>
              <a
                href="{{ url_for('sponsor.viewCampaign', campaign_id=campaign.id) }}"
                class="view"
                >{{ campaign.name }}</a
              >
            </td>
            <td>{{ campaign.start_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ campaign.end_date.strftime('%Y-%m-%d') }}</td>
            <td>Rs. {{ campaign.budget }}</td>
            <td>{{ campaign.description }}</td>
            <td>{{ campaign.goals }}</td>

            <td class="link danger">
              <form
                action="{{ url_for('sponsor.deleteCampaign', campaign_id=campaign.id) }}"
                method="POST"
                onsubmit="return confirm('Are you sure you want to delete this campaign?');"
              >
                <button type="submit">delete</button>
              </form>
            </td>
            {% if campaign.flagged==True %}
            <td class="status-rejected">Flagged by admin</td>
            {% else %}

            <td class="link view">
              <form
                action="{{ url_for('sponsor.editCampaign', campaign_id=campaign.id) }}"
                method="POST"
                onsubmit="return confirm('Are you sure you want to edit this campaign?');"
              >
                <button type="submit">edit</button>
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
