@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: aesthetic;
  src: url(../AESTHETICREGULAR-YZRAQ.OTF);
}

@font-face {
  font-family: milli;
  src: url(../Fontspring-DEMO-milligrammacro-light.otf);
}
@font-face {
  font-family: ultra;
  src: url(../upheavtt.otf);
}

.container {
  /* max-width: 3840px;
  max-height: 2160px; */
  margin: 0 auto;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  animation: slideUpAndFadeOut 7s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards; /* Animation to fade out */
}
@keyframes slideUpAndFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.alert.success {
  color: #115221;
  background-color: #ceead5;
  border: 1px solid #b0d4b9;
}

.alert.danger {
  background-color: #f8d7da; /* Red color for error alerts */
  color: #721c24;
  border: 1px solid #f5c6cb;
}