{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='src/influencer_css/view_request.css') }}"
/>
{% endblock %} {% block content %}

<div class="container">
  <nav>
    <div class="nav-1">
      <a href="{{ url_for('influencer.dashboard') }}" class="logo view">
        AD <br />
        FL
      </a>
      <a href="{{ url_for('views.logout') }}" class="view">logout</a>
    </div>
    <div class="nav-2">
      <p class="menu-button">the</p>
      <p class="x">v</p>
      <p class="menu-button">dashboard</p>
    </div>
    <div class="nav-3">
      <a href="{{ url_for('influencer.viewCampaigns') }}" class="create view">
        find <ion-icon name="arrow-forward-sharp"></ion-icon> <br />
        campaigns
      </a>
      <a
        href="{{ url_for('influencer.activeCampaigns') }}"
        class="pattern-2 view"
      >
        active<br />
        campaigns
      </a>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="col-1 col">
      <div class="header">
        <h1>Ad request</h1>
      </div>
      <div class="numbers">
        <p>xoxo</p>
        <div class="hr"></div>
        <p>xoxo</p>
      </div>
      <div class="table-wrapper">
        <table class="first-table">
          <tr>
            <th>Ad Request Details</th>
            <th>Information</th>
          </tr>
          <tr>
            <td>Campaign</td>
            <td>{{ ad_request_details.campaign_name }}</td>
          </tr>
          <tr>
            <td>Sponsor</td>
            <td>{{ ad_request_details.user_name }}</td>
          </tr>
          <tr>
            <td>Requirements</td>
            <td>{{ad_request_details.ad_request.requirements}}</td>
          </tr>
          <tr>
            <td>Payment Amount</td>
            <td>{{ ad_request_details.ad_request.payment_amount }}</td>
          </tr>
          <tr>
            <td>Message</td>
            <td>{{ ad_request_details.ad_request.messages }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{ ad_request_details.ad_request.status }}</td>
          </tr>
          <tr></tr>
        </table>
      </div>
      <table class="first-table">
        <tr>
          <th class="text-left">Current Offer Price</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>{{latest_price}}</td>
          <td>
            <form
              action="{{ url_for('influencer.reject_ad_request', ad_request_id=ad_request_details.ad_request.id) }}"
              method="post"
            >
              <button class="link text-red-600 danger" type="submit">
                Reject
              </button>
            </form>
          </td>
          <td>
            <form
              action="{{ url_for('influencer.accept_ad_request', ad_request_id=ad_request_details.ad_request.id,) }}"
              method="post"
            >
              <input
                type="text"
                name="payment_amount"
                hidden
                value="{{latest_price}}"
              />
              <button class="link text-green-600 approve" type="submit">
                Approve
              </button>
            </form>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-2 col">
      <h1 class="text-4xl text-center cursor-pointer">Negotiations</h1>
      {% if not negotiations %}
      <form
        method="post"
        action="{{ url_for('influencer.make_ad_offer', ad_request_id=ad_request_details.ad_request.id) }}"
      >
        <label for="offer_amount" class="cc-label">Counter Offer Amount:</label>
        <input
          type="number"
          id="offer_amount"
          name="offer_amount"
          class="cc-input"
          required
        />
        <br />
        <div class="text-right mr-5">
          <button
            class="link text-white bg-slate-900 px-4 py-2 mb-6 rounded-md"
            type="submit"
          >
            Negotiate
          </button>
        </div>
      </form>
      {% else %}{% set show_form = True %} {% if latest_pending_nego.status ==
      'Pending' %} {% set show_form = False %} {% endif %} {% endif %} {% if
      show_form %}

      <form
        method="post"
        action="{{ url_for('influencer.make_ad_offer', ad_request_id=ad_request_details.ad_request.id) }}"
      >
        <label for="offer_amount" class="cc-label">Counter Offer Amount:</label>
        <input
          type="number"
          id="offer_amount"
          name="offer_amount"
          class="cc-input"
          required
        />
        <br />
        <div class="text-right mr-5">
          <button
            class="link text-white bg-slate-900 px-4 py-2 mb-6 rounded-md"
            type="submit"
          >
            Negotiate
          </button>
        </div>
      </form>
      {% endif %}

      <table class="nego-table">
        <tr>
          <th>Status</th>
          <th>Offer Amount</th>
          <th>Time</th>
        </tr>
        {% for negotiation in negotiations %}
        <tr>
          <td
            class="{% if negotiation.status == 'Pending' %}status-pending{% elif negotiation.status == 'Rejected' %}status-rejected{% elif negotiation.status == 'Accepted' %}status-accepted{% endif %}"
          >
            {{negotiation.status}}
          </td>
          <td>{{negotiation.offer_amount}}</td>
          <td>{{negotiation.created_at}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
