{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='src/influencer_css/view_campaigns.css') }}"
/>
{% endblock %} {% block content %}

<div class="container">
  <nav>
    <div class="nav-1">
      <a href="{{ url_for('influencer.dashboard') }}" class="logo view">
        AD <br />
        FL
      </a>
      <a href="{{ url_for('views.logout') }}" class="view">logout</a>
    </div>
    <div class="nav-2">
      <p class="menu-button">the</p>
      <p class="x">v</p>
      <p class="menu-button">dashboard</p>
    </div>
    <div class="nav-3">
      <a class="view" href="{{ url_for('influencer.view_ratings') }}"
        >Ratings</a
      >
      <a class="view" href="{{url_for('influencer.view_bookmarks')}}"
        >Bookmarked <br />
        Campaigns</a
      >
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="col">
      <div class="header flex items-center justify-between">
        <a href="{{ url_for('influencer.viewCampaigns') }}"
          ><h1>All Campaigns</h1></a
        >
      </div>
      <div class="main-container">
        <div class="col-1">
          <form action="{{url_for('influencer.viewCampaigns') }}" method="post">
            <p>Search</p>
            <div>
              <label for="search_query">Campaign Name:</label>
              <div class="form-field">
                <input
                  class="cc-input"
                  type="text"
                  id="search_query"
                  name="search_query"
                  required
                />
              </div>
            </div>

            <a href="">
              <button type="submit">Search</button>
            </a>
          </form>
        </div>
        <div class="col-2">
          {% for campaign in campaigns %} {% if campaign.niche == 'All' or
          campaign.niche == influencer.niche %}
          {% if influencer.flagged == False %}
          <div class="square">
            <div class="name">{{ campaign.name }}</div>
            <div class="attributes">
              <table class="info-table">
                <tr>
                  <th>Budget</th>
                  <td>Rs. {{ campaign.budget }}</td>
                </tr>
                <tr>
                  <th>Niche</th>
                  <td>{{ campaign.niche }}</td>
                </tr>
                <tr>
                  <th>Start Date</th>
                  <td>{{ campaign.start_date.strftime('%Y-%m-%d') }}</td>
                </tr>
                <tr>
                  <th>End Date</th>
                  <td>{{ campaign.end_date.strftime('%Y-%m-%d') }}</td>
                </tr>
                <tr>
                  <th>Visibility</th>
                  <td>{{ campaign.visibility }}</td>
                </tr>
              </table>
            </div>
            <div class="more-info">
              <a
                class="info"
                href="{{ url_for('influencer.create_ad_request', campaign_id=campaign.id)}}"
              >
                <img
                  src="{{ url_for('static', filename='Arrow.png') }}"
                  class="arrow"
                  alt="Arrow"
                />
              </a>
              <table class="info-table">
                <tr>
                  <td>Description</td>
                  <td>{{ campaign.description }}</td>
                </tr>
                <tr>
                  <td>Goals</td>
                  <td>{{ campaign.goals }}</td>
                </tr>
              </table>
              <div class="flex gap-28">
                <a
                  class="info"
                  href="{{ url_for('influencer.create_ad_request', campaign_id=campaign.id)}}"
                  >Request</a
                >
                <form
                  action="{{ url_for('influencer.bookmark_campaign', campaign_id=campaign.id) }}"
                  method="post"
                  style="display: inline"
                >
                  {% if campaign.is_bookmarked %}
                  <button type="submit">
                    <svg
                      class="bookmark-icon"
                      fill="#dee3e3"
                      width="75"
                      height="75"
                      viewBox="0 0 1024.00 1024.00"
                      xmlns="http://www.w3.org/2000/svg"
                      stroke="#dee3e3"
                      stroke-width="0.01024"
                    >
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></g>
                      <g id="SVGRepo_iconCarrier">
                        <path
                          d="M665.6 768L512 614.4 358.4 768V256h307.2v512z"
                        ></path>
                      </g>
                    </svg>
                  </button>
                  {% else %}
                  <button type="submit">
                    <svg
                      class="bookmark-icon"
                      fill="#dee3e3"
                      width="75"
                      height="75"
                      viewBox="0 0 1024 1024"
                      xmlns="http://www.w3.org/2000/svg"
                      stroke="#dee3e3"
                    >
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></g>
                      <g id="SVGRepo_iconCarrier">
                        <path
                          d="M665.6 768L512 614.4 358.4 768V256h307.2v512zM512 537.6L614.4 640V307.2H409.6V640L512 537.6z"
                        ></path>
                      </g>
                    </svg>
                  </button>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
