@font-face {
  font-family: aux;
  src: url(../../upheavtt.otf);
}
@font-face {
  font-family: sk;
  src: url(../../SKCuber-Expanded.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  background-color: #000;
  font-family: "Arame";
  overflow: hidden;
}

p {
  text-transform: uppercase;
}
.x {
  font-family: sk;
  margin-top: -10px;
  font-size: 14px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

nav {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 0.25em;
  padding: 0.25em 0 0 0;
  background-color: #000;
}
nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.nav-1 {
  flex: 3;
}

.nav-2 {
  flex: 2;
}

.nav-3 {
  flex: 3;
}

.content-wrapper {
  flex: 12;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 0 0.5em 0;
  background-color: #000;
  gap: 0.25em;
  overflow: hidden;
}

.content-wrapper .col {
  border-radius: 10px;
  background: #fff;
  padding: 2em 2em 0em 2em;
}

.col {
  flex: 5.43;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.col p {
  font-size: 12px;
  line-height: 1;
}
.col h1 {
  font-size: 48px;
  text-align: center;
  font-family: aux;
  font-weight: normal;
  color: #1c1723;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: -10px;
}
.numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers p {
  flex: 1;
}

.numbers p:nth-child(3) {
  text-align: right;
}
.numbers .hr {
  flex: 5;
  width: 100%;
  height: 2px;
  background: #000;
}

.danger {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.approve {
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.view {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.danger:hover {
  color: red;
}
.approve:hover {
  color: green;
}
.view:hover {
  color: blue;
}

.main-container {
  display: flex;
  gap: 1em;
  overflow: hidden;
  height: 100%;
}

.col-1 {
  flex: 3;
  width: 100%;
  padding: 20px;

}

.col-2 {
  flex: 14;
  overflow-x: auto;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  height: 100%;
}
.col-1 form p {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.25em;
  text-align: left;
  color: #1c1723;
  letter-spacing: -2px;
}
.col-1 form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col-1 form button{
  background-color: transparent;
  border: none;
  font-family: aux;
  color: #EAE6EF;
  font-size: 36px;
  cursor: pointer ;
  transition: all 0.3s ease-out;
  background-color: #1c1723;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 100%;

}

.col-1 form button:hover{
  color: #1c1723;
  background-color: transparent;
}

.cc-input {
  text-transform: none;
  background-color: transparent;
  border: 1px solid #6c757d;
  border-radius: 0.2em;
  width: 100%;
  height: auto;
  margin-top: 0.4em;
  padding: 0.8em 1.2em 0.8em 1em;
  font-size: 1em;
  line-height: 1.2em;
  font-family: "Arame";
}

.square {
  background-color: #272031;
  border-radius: 16px;
  color: #EAE6EF;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.pfp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 36px 0 0 0;
  transition: opacity 0.3s ease;
}
.square p {
  font-size: 18px;
}

.pfp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.4rem;
  font-weight: bold;
  color: #EAE6EF;
  width: 80%;
  transition: opacity 0.3s ease;
  letter-spacing: -2.4px;
}

.attributes {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin-bottom: 10px;
  width: 90%;
  padding: 12px 0 0 20px;
  gap: 12px;
  transition: opacity 0.3s ease;
  margin-bottom: 22px;
}
.more-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #EAE6EF;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: 20px;
  text-align: center;
  border-radius: 40px;
  position: absolute;
  padding-top: 170px;
}

.arrow {
  width: 45%;
  height: auto;
  position: absolute;
  top: 24px;
  right: 24px;
}
.square:hover .more-info {
  opacity: 1;
  visibility: visible;
}
.square:hover {
  transform: scale(1.05);
  border-radius: 0px;
  background-color: #1c1723;
  box-shadow: 0 4px 8px #1c1723;
}

.square:hover .pfp-wrapper,
.square:hover .name,
.square:hover .attributes {
  opacity: 0;
}

.more-info a {
  text-decoration: none;
  color: #EAE6EF;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 46px;
  text-align: left;
}
.info-table {
  width: 100%;
  text-align: left;
}

.info-table td {
  padding: 10px;
}
