{% extends "base.html" %} {% block body_class %}sponsor{% endblock %} {% block
content %}
<h1 class="cc text-center purple">Create ad Request for {{ campaign.name }}</h1>

<form
  action="{{ url_for('sponsor.create_ad_request', campaign_id=campaign.id) }}"
  method="post"
  class="influForm1 light-purple"
>
  <input
    type="hidden"
    name="influencer_id"
    value="{{ request.args.get('influencer_id') }}"
  />

  <label for="messages" class="heading4 purple">Messages:</label>
  <textarea
    id="messages"
    name="messages"
    class="w-full mb-4 rounded-lg p-2 pe-12"
  ></textarea>

  <label for="requirements" class="heading4 purple">Requirements:</label>
  <textarea
    id="requirements"
    name="requirements"
    class="w-full mb-4 rounded-lg p-2 pe-12"
  ></textarea>

  <label for="payment_amount" class="heading4 purple">Payment Amount:</label>
  <input
    type="number"
    id="payment_amount"
    name="payment_amount"
    class="w-full mb-4 rounded-lg p-2 pe-12"
    step="0.01"
  />

  <button type="submit" class="Btn ">
    Create Ad Request
  </button>
</form>
{% endblock %}
