{% extends "base.html" %} {% block body_class %}sponsor{% endblock %} {% block
content %}

<a href="{{ url_for('sponsor.payment_history',user_id=current_user.id) }}"
  >payment_history</a
>

<table>
  <caption class="cc cc-purple">
    Completed Ad Requests
  </caption>

  <thead>
    <tr>
      <th>Request Type</th>
      <th>Influencer</th>
      <th>Messages</th>
      <th>Requirements</th>
      <th>Payment Amount</th>
      <th>Status</th>
      <th>Completion Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for request in ad_requests + campaign_requests %} {% if
    request.request.completion_confirmed==True %} 
    {% if request.request.payment_done==False %}

    <tr>
      <td>{{ request.request_type }}</td>
      <td>{{ request.influencer_name }}</td>
      <td>{{ request.request.messages }}</td>
      <td>{{ request.request.requirements }}</td>
      <td>{{ request.request.payment_amount }}</td>
      <td>{{ request.request.status }}</td>
      <td>{{ request.request.completed }}</td>
      <td>
        <a
          href="{{url_for('sponsor.make_payment', ad_request_id=request.request.id, request_type=request.request_type)}}"
          >Make Payment</a
        >
      </td>
    {% endif %}
      {% endif %} {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock %}
