{% extends "base.html" %} {% block body_class %}sponsor{% endblock %} {% block
content %}
<div class="navbar">
  <div></div>
  <div class="buttons">
    <a
      href="{{ url_for('sponsor.browse_influencers', campaign_id=campaign.id) }}"
      class="btn btn-purple cc cc-purple"
      >Find Influencer
    </a>
    <a
      href="{{ url_for('sponsor.dashboard') }}"
      class="btn btn-purple cc cc-purple"
      >Back</a
    >
    <a
      class="btn btn-purple cc cc-purple"
      href="{{url_for('sponsor.view_completed_ad_requests', campaign_id=campaign.id)}}"
      >Completed Ad requests</a
    >
  </div>
</div>

<div class="campaignContainer">
  <h1 class="cc cc-purple text-center">Campaign</h1>
  <table>
    <tr>
      <th>Campaign Detail</th>
      <th>Information</th>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ campaign.name }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ campaign.description }}</td>
    </tr>
    <tr>
      <td>Start Date</td>
      <td>{{ campaign.start_date.strftime('%Y-%m-%d') }}</td>
    </tr>
    <tr>
      <td>End Date</td>
      <td>{{ campaign.end_date.strftime('%Y-%m-%d') }}</td>
    </tr>
    <tr>
      <td>Budget</td>
      <td>{{ campaign.budget }}</td>
    </tr>
    <tr>
      <td>Visibility</td>
      <td>{{ campaign.visibility }}</td>
    </tr>
    <tr>
      <td>Goals</td>
      <td>{{ campaign.goals }}</td>
    </tr>
  </table>
</div>

<table>
  <caption class="cc cc-purple">
    Ad Requests
  </caption>

  <thead>
    <tr>
      <th>Request Type</th>
      <th>Influencer</th>
      <th>Messages</th>
      <th>Requirements</th>
      <th>Payment Amount</th>
      <th>Status</th>
      <th>Completion Status</th>
    </tr>
  </thead>
  <tbody>
    {% for request in ad_requests + campaign_requests %} {% if not
    request.request.completion_confirmed %}

    <tr>
      <td>{{ request.request_type }}</td>
      <td>{{ request.influencer_name }}</td>
      <td>{{ request.request.messages }}</td>
      <td>{{ request.request.requirements }}</td>
      <td>{{ request.request.payment_amount }}</td>
      <td>{{ request.request.status }}</td>
      <td>{{ request.request.completed }}</td>
      {% if request.request.completed == True %}
      <td>
        <form
          action="{{ url_for('sponsor.confirm_completion', campaign_id=campaign.id, ad_request_id=request.request.id) }}"
          method="post"
        >
          <input
            type="text"
            name="request_type"
            value="{{ request.request_type }}"
            hidden
          />
          <button type="submit">Confirm Completion</button>
        </form>
      </td>
      {% endif %} {% endif %} {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock %}
