{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='src/login.css') }}">

{% endblock %}
 {% block title %}Login{% endblock %} {% block content
%}
<div class="hero">
  <div class="left-side">
    <div class="img-wrapper">
      <img class="spiderman-img" src="../static/spiderman.png" alt="" />
    </div>
    <div class="hero-text">
      <div class="login-text">Log In</div>
      <div class="welcome">WELCOME</div>
      <div class="welcome">BACK</div>
    </div>
  </div>
  <div class="right-side">
    <form method="POST">
      <h1 class="login-title">Adfluence</h1>
      <div class="form-field-wrapper">
        <label class="label" for="role">ROLE</label>
        <select name="role" id="role">
          <option value="Admin">Admin</option>
          <option value="Sponsor">Sponsor</option>
          <option value="Influencer">Influencer</option>
        </select>
      </div>
      <div class="form-field-wrapper">
        <label class="label" for="email">EMAIL</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="form-field-wrapper">
        <label class="label" for="password">PASSWORD</label>
        <input type="password" name="password" id="password" />
        <div class="signup">
          <label for="signup">No account ? </label>
          <a href="/sign-up" class="signup-btn">Sign Up</a>
        </div>
        <button type="submit" class="login-btn">Login</button>
      </div>
    </form>
  </div>
</div>



{% endblock %}
